.tc {
    font-size: 4em;
    text-align: center;
    background: rgb(98, 91, 85);
    background: linear-gradient(90deg, rgba(98, 91, 85, 1) 28%, rgba(108, 108, 107, 1) 36%, rgba(255, 255, 255, 1) 48%, rgba(255, 255, 255, 1) 49%, rgba(76, 76, 76, 1) 65%, rgba(83, 83, 86, 1) 69%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin-top: 8vh;
    margin-bottom: 14vh;

}

.c-m {
    display: flex;
    justify-content: center;
}

.counsellor-ai-main {
    margin: 5vh;
    height: 180vh;
    width: 80vw;
    -webkit-box-shadow: 1px -13px 19px -1px rgba(255, 255, 18, 1);
    -moz-box-shadow: 1px -13px 19px -1px rgba(255, 255, 18, 1);
    box-shadow: 1px -13px 19px -1px rgba(255, 255, 18, 1);
}

.counsellor-ai {
    height: 179.6vh;
    width: 79.75vw;
    border: none;
}

.c-feature-head {
    margin-top: 8vh;
    text-align: center;
    background: rgb(248, 120, 14);
    background: linear-gradient(90deg, rgba(248, 120, 14, 1) 40%, rgba(221, 113, 24, 1) 44%, rgba(255, 255, 255, 1) 48%, rgba(255, 255, 255, 1) 49%, rgba(0, 86, 255, 1) 54%, rgba(21, 0, 255, 1) 69%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 3em;
    margin-bottom: 8vh;
}

.c-feature-left,
.c-feature-right {
    display: flex;
    margin-left: 14vh;
    margin-right: 14vh;
    margin-top: 20vh;
    margin-bottom: 20vh;
}

.c-img-left,
.c-img-right {
    height: 70vh;
    width: 60vw;
    -webkit-box-shadow: -1px 0px 15px 10px rgba(255, 255, 255, 1);
    -moz-box-shadow: -1px 0px 15px 10px rgba(255, 255, 255, 1);
    box-shadow: -1px 0px 15px 10px rgba(255, 255, 255, 1);
}

.c-img-text-left {
    height: 70vh;
    width: 30vw;
    margin-left: 10vh;
    font-size: 1.4em;
    text-align: left;
    font-weight: bold;
}

.c-img-text-right {
    height: 70vh;
    width: 30vw;
    margin-right: 3vh;
    font-size: 1.4em;
    text-align: left;
    font-weight: bold;
}

.c-image {
    height: 60vh;
    width: 60vw;
}

.c-h-i-w-text {
    margin-top: 16vh;
    margin-bottom: 16vh;
    text-align: center;
    font-size: 3em;
    background: rgb(77, 161, 62);
    background: linear-gradient(90deg, rgba(77, 161, 62, 1) 28%, rgba(251, 251, 251, 1) 46%, rgba(255, 255, 255, 1) 56%, rgba(219, 213, 1, 1) 69%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.c-t-b {
    margin: 14vh;
    display: flex;
    justify-content: space-evenly;
}

.c-box {
    height: 44vh;
    width: 22vw;
    border: #fff solid 2px;
    -webkit-box-shadow: -1px -1px 14px 6px rgba(255, 255, 255, 1);
    -moz-box-shadow: -1px -1px 14px 6px rgba(255, 255, 255, 1);
    box-shadow: -1px -1px 14px 6px rgba(255, 255, 255, 1);
}


.c-h-i-w-text-main {
    margin-top: 14vh;
    display: flex;
    justify-content: center;
}

.c-hiwt {
    border: greenyellow solid 3px;
    height: 70vh;
    width: 80vw;
}

.c-citation-main {
    margin-top: 14vh;
    margin-bottom: 14vh;
}

.c-citation-main-heading {
    font-size: 3em;
    text-align: center;
    background: rgb(208, 68, 202);
    background: linear-gradient(90deg, rgba(208, 68, 202, 1) 28%, rgba(214, 93, 209, 1) 40%, rgba(255, 255, 255, 1) 54%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.c-citation-iframe-main {
    display: flex;
    justify-content: center;
    margin-top: 14vh;
    margin-bottom: 14vh;
}

.c-citation-outer {
    height: 80vh;
    margin-bottom: 14vh;
    width: 80vw;
}

.c-citation-iframe {
    height: 80vh;
    width: 80vw;
}